# NEXT_PUBLIC_BASE_URL="https://api-ur.ubnhb.in/api/admin/" #server
# NEXT_PUBLIC_BASE_URL="https://hjvwppz2-4500.inc1.devtunnels.ms/api/admin/" #port
NEXT_PUBLIC_BASE_URL="http://localhost:4500/api/admin/" #local

NEXT_PUBLIC_SECRET_KEY = auth-secret-key-2025
NEXT_PUBLIC_TOKEN_KEY = accessToken
NEXT_PUBLIC_USER_KEY = userData